[Unit]
Description=fix sleep for gigabyte aorus pro ax b550i motherboard

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=sh -c 'echo GPP0 > /proc/acpi/wakeup'

[Install]
WantedBy=multi-user.target
